<div class="main-block">
    <h1>Ласкаво просимо до ШУМ</h1>
    <div class="about-text">
      <span class="accent">ШУМ –</span>
      <span class="accent-2">громадська організація, створена фахівцями з міжнародної OSINT-спільноти.</span>
    </div>
    <p>
      Ми застосовуємо технології OSINT для розслідування воєнних злочинів та захисту прав людини під час збройного конфлікту, який розпочала росія проти України.
    </p>
    <div class="button-container">
      <a href="{{ "donats" | relLangURL }}"><button class="main-btn">Підтримати</button></a>
    </div>
</div>
  {{ partial "pdf-carousel.html" (dict "pdfPath" "/pdf/pamyatka.pdf" "title" "Пам'ятка") }}
  <div class="section-block">
    <h2>Основні напрямки діяльності</h2>
    <div class="directions">
      <div class="direction">
        <b>OSINT-розслідування воєнних злочинів</b>
        <p>збираємо й аналізуємо дані з відкритих джерел для фіксації воєнних злочинів росії.</p>
      </div>
      <div class="direction">
        <b>Консультування правоохоронних органів</b>
        <p>надаємо докази та допомагаємо знайти потенційних злочинців.</p>
      </div>
      <div class="direction">
        <b>Протидія дезінформації та правозахисні проекти</b>
        <p>працюємо над викриттям фейків і підтримуємо ініціативи з захисту прав людини.</p>
      </div>
    </div>
  </div>
  
  <div class="goal-block">
    <h2>Наша мета</h2>
    <ul>
      <li>Збирати та аналізувати докази порушень міжнародного гуманітарного права за допомогою OSINT-інструментів.</li>
      <li>Ідентифікувати ймовірних злочинців</li>
      <li>Підтримувати правоохоронні та судові органи, надаючи консультації та експертизу</li>
    </ul>
    <p>У команді <span class="accent-3">ШУМ</span> працюють не лише OSINT-дослідники, а й юристи, аналітики та експерти з міжнародного права.</p>
  </div>

  <div class="goal-block">
    <h2>Місія</h2>
    <p>З початку збройної агресії російської федерації міжнародна спільнота неодноразово фіксувала воєнні злочини. Водночас багато порушень прав людини на окупованих територіях та в зоні бойових дій залишаються без належного розслідування та не доходять до судових інстанцій через відсутність доказів.</p>
    <div class="goal-text">
        <div class="goal-accent">Ми переконані - </div>
        <div class="goal-accent-2">історії жертв воєнних злочинів мають бути почуті та ретельно розслідувані.</div>
    </div>
  </div>

  <div class="principles-block">
    <h2>Принципи роботи</h2>
    <div class="principles">
      <div class="principle">
        <b>Ефективність</b>
        <p>робота на результат і притягнення винних до відповідальності.</p>
      </div>
      <div class="principle">
        <b>Співпраця</b>
        <p>ми відкриті до співпраці з іншими українськими та міжнародними громадськими організаціями.</p>
      </div>
    </div>
    <div class="principles-accent"><a href="{{ "contact" | relLangURL }}"><span class="accent-3">Ми відкриті до співпраці</span></a> з іншими українськими та міжнародними громадськими організаціями.</div>
  </div>