<div class="main-block">
    <h1>Welcome to SHUM</h1>
    <div class="about-text">
      <span class="accent">SHUM –</span>
      <span class="accent-2">is a public organization founded by experts from the international OSINT community.</span>
    </div>
    <p>
        We use OSINT technologies to investigate war crimes and protect human rights during the armed conflict initiated by russia against Ukraine.
    </p>
    <div class="button-container">
      <a href="https://donate.shum-ng.org/" target="_blank"><button class="main-btn">Support</button></a>
    </div>
</div>
  
  <div class="section-block">
    <h2>Areas of Expertise</h2>
    <div class="directions">
      <div class="direction">
        <b>OSINT investigations of war crimes</b>
        <p>we collect and analyze open-source data to document russia’s war crimes.</p>
      </div>
      <div class="direction">
        <b>Consulting law enforcement and judicial authorities</b>
        <p>we provide evidence and assist in identifying potential criminals.</p>
      </div>
      <div class="direction">
        <b>Countering disinformation and human rights projects</b>
        <p>we work to expose fake news and support initiatives aimed at protecting human rights.</p>
      </div>
    </div>
  </div>
  
  <div class="goal-block">
    <h2>Our Goal</h2>
    <ul>
      <li>To collect and analyze evidence of violations of international humanitarian law using OSINT tools;</li>
      <li>To identify potential criminals;</li>
      <li>To support law enforcement and judicial authorities by providing consultations and expert analysis.</li>
    </ul>
    <p><span class="accent-3">SHUM</span> team includes not only OSINT researchers but also lawyers, analysts, and international law experts.</p>
  </div>

  <div class="goal-block">
    <h2>Mission</h2>
    <p>Since the beginning of the russian-ukrainian armed conflict, the international community has repeatedly documented war crimes. However, many human rights violations in occupied territories and combat zones often go unnoticed and never reach the judicial authorities due to a lack of evidence.</p>
    <div class="goal-text">
        <div class="goal-accent">We believe - </div>
        <div class="goal-accent-2">The stories of war crimes victims must be heard and thoroughly investigated.</div>
    </div>
  </div>

  <div class="principles-block">
    <h2>Core Principles</h2>
    <div class="principles">
      <div class="principle">
        <b>Effectiveness</b>
        <p>we are results-driven and focused on ensuring legal accountability for those responsible.</p>
      </div>
      <div class="principle">
        <b>Collaboration</b>
        <p>we are open to working with other Ukrainian and international civil society organizations.</p>
      </div>
    </div>
    <div class="principles-accent"><a href="{{ "contact" | relLangURL }}"><span class="accent-3">We are open to collaboration</span></a> with other Ukrainian and international civil society organizations.</div>
  </div>