<div class="donate-widget">
    <div class="donate-title">Current Needs</div>
    <div class="donate-iban">IBAN UA 54 322001 0000 0262 0335 85641 64</div>
    <div class="donate-desc">
      Fundraising for a vehicle for the Armed Forces of Ukraine in the Kharkiv direction for logistics and other related tasks that constantly arise on the front line.
    </div>
    <ul class="donate-list">
      <li>reports are updated on social media</li>
      <li>donation and support bank details are always up to date</li>
    </ul>
    <div class="donate-final">
      Support the unit to ensure the successful completion of combat missions.
    </div>
    <div class="monobank-widget">
        <a href="https://send.monobank.ua/jar/2fMyRuT3K2" target="_blank" rel="noreferrer">
            <button class="main-btn">Support the project</button>
        </a>
    </div>  
</div>