
<div class="donate-widget">
    <div class="donate-title">Поточні потреби</div>
    <div class="donate-iban">IBAN UA 54 322001 0000 0262 0335 85641 64</div>
    <div class="donate-desc">
      Збір на авто для АКС на харківському напрямку для логістичних та інших супутніх задач, які постійно зʼявляються на передовій.
    </div>
    <ul class="donate-list">
      <li>звіти оновлюються у соцмережах</li>
      <li>донати та допоміжні банки завжди актуальні</li>
    </ul>
    <div class="donate-final">
      Забезпеч підрозділ для успішного виконання бойових завдань.
    </div>
    <div class="monobank-widget">
        <a href="https://send.monobank.ua/jar/2fMyRuT3K2" target="_blank" rel="noreferrer">
            <button class="main-btn">Підтримати проект</button>
        </a>
    </div>  
</div>