<div class="donate-widget">
    <div class="donate-title">Current Needs</div>
    <div class="donate-iban">IBAN UA 16 322001 00000 2620 9356 1272 28</div>
    <div class="donate-desc">
      Fundraising to cover the current needs of the Belarusian Volunteer Corps under the Defence Intelligence of the Ministry of Defence.
    </div>
    <ul class="donate-list">
      <li>reports are updated on social media</li>
      <li>donation and support bank details are always up to date</li>
      <li>there is no final goal</li>
    </ul>
    <div class="donate-final">
      Support the unit to ensure the successful completion of combat missions.
    </div>
    <div class="monobank-widget">
        <a href="https://send.monobank.ua/jar/2okJ3FYLNo" target="_blank" rel="noreferrer">
            <button class="main-btn">Support the project</button>
        </a>
    </div>  
</div>