
<div class="donate-widget">
    <div class="donate-title">Поточні потреби</div>
    <div class="donate-iban">IBAN UA 16 322001 00000 2620 9356 1272 28</div>
    <div class="donate-desc">
      Збір для закриття поточних потреб Білоруського Добровольчого Корпусу при ГУР МО.
    </div>
    <ul class="donate-list">
      <li>звіти оновлюються у соцмережах</li>
      <li>донати та допоміжні банки – завжди актуальні</li>
      <li>кінцевої мети немає</li>
    </ul>
    <div class="donate-final">
      Забезпеч підрозділ для успішного виконання бойових завдань.
    </div>
    <div class="monobank-widget">
        <a href="https://send.monobank.ua/jar/2okJ3FYLNo" target="_blank" rel="noreferrer">
            <button class="main-btn">Підтримати проект</button>
        </a>
    </div>  
</div>