<div class="password-protected-content">
    <div class="private-login-btn" style="display: flex">
        <div class="private-login-message">
            <h3>Приватний контент</h3>
            <p>Цей розділ доступний тільки для авторизованих користувачів.</p>
            <button onclick="showPasswordModal()" class="main-btn">Увійти в приватний розділ</button>
        </div>
    </div>
    
    <div class="private-content">
        {{ .Inner }}
        <div class="private-logout-section">
            <button onclick="logoutPrivate()" class="logout-btn">Вийти з приватного розділу</button>
        </div>
    </div>
</div> 